# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
/app-template/charts/common/schemas/configmap.json
/app-template/charts/common/schemas/containers.json
/app-template/charts/common/schemas/controllers.json
/app-template/charts/common/schemas/definitions.json
/app-template/charts/common/schemas/envVars.json
/app-template/charts/common/schemas/ingress.json
/app-template/charts/common/schemas/k8s-api.json
/app-template/charts/common/schemas/networkpolicy.json
/app-template/charts/common/schemas/persistence.json
/app-template/charts/common/schemas/pod.json
/app-template/charts/common/schemas/rawResource.json
/app-template/charts/common/schemas/route.json
/app-template/charts/common/schemas/secret.json
/app-template/charts/common/schemas/service.json
/app-template/charts/common/schemas/serviceAccount.json
/app-template/charts/common/schemas/serviceMonitor.json
/app-template/charts/common/templates/classes/_configmap.tpl
/app-template/charts/common/templates/classes/_cronjob.tpl
/app-template/charts/common/templates/classes/_daemonset.tpl
/app-template/charts/common/templates/classes/_deployment.tpl
/app-template/charts/common/templates/classes/_ingress.tpl
/app-template/charts/common/templates/classes/_job.tpl
/app-template/charts/common/templates/classes/_networkpolicy.tpl
/app-template/charts/common/templates/classes/_pvc.tpl
/app-template/charts/common/templates/classes/_rawResource.tpl
/app-template/charts/common/templates/classes/_route.tpl
/app-template/charts/common/templates/classes/_secret.tpl
/app-template/charts/common/templates/classes/_service.tpl
/app-template/charts/common/templates/classes/_serviceAccount.tpl
/app-template/charts/common/templates/classes/_serviceMonitor.tpl
/app-template/charts/common/templates/classes/_statefulset.tpl
/app-template/charts/common/templates/lib/chart/_defaultKeepNonNullValue.tpl
/app-template/charts/common/templates/lib/chart/_getMapItemsWithKey.tpl
/app-template/charts/common/templates/lib/chart/_kahn.tpl
/app-template/charts/common/templates/lib/chart/_names.tpl
/app-template/charts/common/templates/lib/chart/_validate.tpl
/app-template/charts/common/templates/lib/configMap/_getByIdentifier.tpl
/app-template/charts/common/templates/lib/configMap/_validate.tpl
/app-template/charts/common/templates/lib/configMap/_valuesToObject.tpl
/app-template/charts/common/templates/lib/container/fields/_args.tpl
/app-template/charts/common/templates/lib/container/fields/_command.tpl
/app-template/charts/common/templates/lib/container/fields/_env.tpl
/app-template/charts/common/templates/lib/container/fields/_envFrom.tpl
/app-template/charts/common/templates/lib/container/fields/_image.tpl
/app-template/charts/common/templates/lib/container/fields/_name.tpl
/app-template/charts/common/templates/lib/container/fields/_probes.tpl
/app-template/charts/common/templates/lib/container/fields/_volumeMounts.tpl
/app-template/charts/common/templates/lib/container/_spec.tpl
/app-template/charts/common/templates/lib/container/_validate.tpl
/app-template/charts/common/templates/lib/container/_valuesToObject.tpl
/app-template/charts/common/templates/lib/controller/_enabled_containers.tpl
/app-template/charts/common/templates/lib/controller/_enabled_controllers.tpl
/app-template/charts/common/templates/lib/controller/_getByIdentifier.tpl
/app-template/charts/common/templates/lib/controller/_metadata.tpl
/app-template/charts/common/templates/lib/controller/_validate.tpl
/app-template/charts/common/templates/lib/controller/_valuesToObject.tpl
/app-template/charts/common/templates/lib/cronjob/_validate.tpl
/app-template/charts/common/templates/lib/cronjob/_valuesToObject.tpl
/app-template/charts/common/templates/lib/daemonset/_validate.tpl
/app-template/charts/common/templates/lib/daemonset/_valuesToObject.tpl
/app-template/charts/common/templates/lib/deployment/_validate.tpl
/app-template/charts/common/templates/lib/deployment/_valuesToObject.tpl
/app-template/charts/common/templates/lib/ingress/_enabled_ingresses.tpl
/app-template/charts/common/templates/lib/ingress/_validate.tpl
/app-template/charts/common/templates/lib/ingress/_valuesToObject.tpl
/app-template/charts/common/templates/lib/job/_validate.tpl
/app-template/charts/common/templates/lib/job/_valuesToObject.tpl
/app-template/charts/common/templates/lib/metadata/_allLabels.tpl
/app-template/charts/common/templates/lib/metadata/_globalAnnotations.tpl
/app-template/charts/common/templates/lib/metadata/_globalLabels.tpl
/app-template/charts/common/templates/lib/metadata/_selectorLabels.tpl
/app-template/charts/common/templates/lib/networkpolicy/_enabled_networkpolicies.tpl
/app-template/charts/common/templates/lib/networkpolicy/_validate.tpl
/app-template/charts/common/templates/lib/networkpolicy/_valuesToObject.tpl
/app-template/charts/common/templates/lib/pod/fields/_containers.tpl
/app-template/charts/common/templates/lib/pod/fields/_dnsPolicy.tpl
/app-template/charts/common/templates/lib/pod/fields/_initContainers.tpl
/app-template/charts/common/templates/lib/pod/fields/_serviceAccountName.tpl
/app-template/charts/common/templates/lib/pod/fields/_volumes.tpl
/app-template/charts/common/templates/lib/pod/metadata/_annotations.tpl
/app-template/charts/common/templates/lib/pod/metadata/_labels.tpl
/app-template/charts/common/templates/lib/pod/_getOption.tpl
/app-template/charts/common/templates/lib/pod/_spec.tpl
/app-template/charts/common/templates/lib/pvc/_validate.tpl
/app-template/charts/common/templates/lib/pvc/_valuesToObject.tpl
/app-template/charts/common/templates/lib/rawResource/_validate.tpl
/app-template/charts/common/templates/lib/rawResource/_valuesToObject.tpl
/app-template/charts/common/templates/lib/routes/_primary.tpl
/app-template/charts/common/templates/lib/routes/_validate.tpl
/app-template/charts/common/templates/lib/routes/_valuesToObject.tpl
/app-template/charts/common/templates/lib/secret/_getByIdentifier.tpl
/app-template/charts/common/templates/lib/secret/_validate.tpl
/app-template/charts/common/templates/lib/secret/_valuesToObject.tpl
/app-template/charts/common/templates/lib/service/_enabled_ports.tpl
/app-template/charts/common/templates/lib/service/_enabled_services.tpl
/app-template/charts/common/templates/lib/service/_getByIdentifier.tpl
/app-template/charts/common/templates/lib/service/_getPortNumberByName.tpl
/app-template/charts/common/templates/lib/service/_primary_port.tpl
/app-template/charts/common/templates/lib/service/_primaryForController.tpl
/app-template/charts/common/templates/lib/service/_validate.tpl
/app-template/charts/common/templates/lib/service/_valuesToObject.tpl
/app-template/charts/common/templates/lib/serviceAccount/_validate.tpl
/app-template/charts/common/templates/lib/serviceAccount/_valuesToObject.tpl
/app-template/charts/common/templates/lib/serviceMonitor/_enabled_servicemonitors.tpl
/app-template/charts/common/templates/lib/serviceMonitor/_validate.tpl
/app-template/charts/common/templates/lib/serviceMonitor/_valuesToObject.tpl
/app-template/charts/common/templates/lib/statefulset/_validate.tpl
/app-template/charts/common/templates/lib/statefulset/_valuesToObject.tpl
/app-template/charts/common/templates/lib/statefulset/_volumeClaimTemplates.tpl
/app-template/charts/common/templates/loader/_all.tpl
/app-template/charts/common/templates/loader/_generate.tpl
/app-template/charts/common/templates/loader/_init.tpl
/app-template/charts/common/templates/render/_configmaps.tpl
/app-template/charts/common/templates/render/_controllers.tpl
/app-template/charts/common/templates/render/_ingresses.tpl
/app-template/charts/common/templates/render/_networkpolicies.tpl
/app-template/charts/common/templates/render/_pvcs.tpl
/app-template/charts/common/templates/render/_rawResources.tpl
/app-template/charts/common/templates/render/_routes.tpl
/app-template/charts/common/templates/render/_secrets.tpl
/app-template/charts/common/templates/render/_serviceaccount.tpl
/app-template/charts/common/templates/render/_serviceMonitors.tpl
/app-template/charts/common/templates/render/_services.tpl
/app-template/charts/common/templates/values/_init.tpl
/app-template/charts/common/.helmignore
/app-template/charts/common/Chart.yaml
/app-template/charts/common/README.md
/app-template/charts/common/values.schema.json
/app-template/charts/common/values.yaml
/app-template/schemas/helmrelease-helm-v2.schema.json
/app-template/schemas/helmrelease-helm-v2beta2.schema.json
/app-template/templates/common.yaml
/app-template/.helmignore
/app-template/Chart.lock
/app-template/Chart.yaml
/app-template/README.md
/app-template/values.schema.json
/app-template/values.yaml
kubeshark/Chart.yaml
kubeshark/LICENSE
kubeshark/metrics.md
kubeshark/PF_RING.md
kubeshark/README.md
kubeshark/values.yaml
kubeshark/templates/_helpers.tpl
kubeshark/templates/01-service-account.yaml
kubeshark/templates/02-cluster-role.yaml
kubeshark/templates/03-cluster-role-binding.yaml
kubeshark/templates/04-hub-deployment.yaml
kubeshark/templates/05-hub-service.yaml
kubeshark/templates/06-front-deployment.yaml
kubeshark/templates/07-front-service.yaml
kubeshark/templates/08-persistent-volume-claim.yaml
kubeshark/templates/09-worker-daemon-set.yaml
kubeshark/templates/10-ingress.yaml
kubeshark/templates/11-nginx-config-map.yaml
kubeshark/templates/12-config-map.yaml
kubeshark/templates/13-secret.yaml
kubeshark/templates/14-openshift-security-context-constraints.yaml
kubeshark/templates/15-worker-service-metrics.yaml
kubeshark/templates/16-network-policies.yaml
kubeshark/templates/NOTES.txt
cilium/.helmignore
cilium/Chart.yaml
cilium/LICENSE
cilium/README.md
cilium/README.md.gotmpl
cilium/values.schema.json
cilium/values.yaml
cilium/values.yaml.tmpl
cilium/files/agent/poststart-eni.bash
cilium/files/cilium-agent/dashboards/cilium-dashboard.json
cilium/files/cilium-envoy/configmap/bootstrap-config.json
cilium/files/cilium-operator/dashboards/cilium-operator-dashboard.json
cilium/files/hubble/dashboards/hubble-dashboard.json
cilium/files/hubble/dashboards/hubble-dns-namespace.json
cilium/files/hubble/dashboards/hubble-l7-http-metrics-by-workload.json
cilium/files/hubble/dashboards/hubble-network-overview-namespace.json
cilium/files/nodeinit/prestop.bash
cilium/files/nodeinit/startup.bash
cilium/files/spire/init.bash
cilium/files/spire/wait-for-spire.bash
cilium/templates/_extensions.tpl
cilium/templates/_helpers.tpl
cilium/templates/cilium-ca-bundle-configmap.yaml
cilium/templates/cilium-ca-secret.yaml
cilium/templates/cilium-configmap.yaml
cilium/templates/cilium-flowlog-configmap.yaml
cilium/templates/cilium-gateway-api-class.yaml
cilium/templates/cilium-ingress-class.yaml
cilium/templates/cilium-ingress-service.yaml
cilium/templates/cilium-resource-quota.yaml
cilium/templates/cilium-secrets-namespace.yaml
cilium/templates/NOTES.txt
cilium/templates/validate.yaml
cilium/templates/cilium-agent/clusterrole.yaml
cilium/templates/cilium-agent/clusterrolebinding.yaml
cilium/templates/cilium-agent/daemonset.yaml
cilium/templates/cilium-agent/dashboards-configmap.yaml
cilium/templates/cilium-agent/role.yaml
cilium/templates/cilium-agent/rolebinding.yaml
cilium/templates/cilium-agent/service.yaml
cilium/templates/cilium-agent/serviceaccount.yaml
cilium/templates/cilium-agent/servicemonitor.yaml
cilium/templates/cilium-envoy/configmap.yaml
cilium/templates/cilium-envoy/daemonset.yaml
cilium/templates/cilium-envoy/service.yaml
cilium/templates/cilium-envoy/serviceaccount.yaml
cilium/templates/cilium-envoy/servicemonitor.yaml
cilium/templates/cilium-nodeinit/daemonset.yaml
cilium/templates/cilium-nodeinit/serviceaccount.yaml
cilium/templates/cilium-operator/_helpers.tpl
cilium/templates/cilium-operator/clusterrole.yaml
cilium/templates/cilium-operator/clusterrolebinding.yaml
cilium/templates/cilium-operator/dashboards-configmap.yaml
cilium/templates/cilium-operator/deployment.yaml
cilium/templates/cilium-operator/poddisruptionbudget.yaml
cilium/templates/cilium-operator/role.yaml
cilium/templates/cilium-operator/rolebinding.yaml
cilium/templates/cilium-operator/secret.yaml
cilium/templates/cilium-operator/service.yaml
cilium/templates/cilium-operator/serviceaccount.yaml
cilium/templates/cilium-operator/servicemonitor.yaml
cilium/templates/cilium-preflight/clusterrole.yaml
cilium/templates/cilium-preflight/clusterrolebinding.yaml
cilium/templates/cilium-preflight/daemonset.yaml
cilium/templates/cilium-preflight/deployment.yaml
cilium/templates/cilium-preflight/poddisruptionbudget.yaml
cilium/templates/cilium-preflight/serviceaccount.yaml
cilium/templates/clustermesh-apiserver/_helpers.tpl
cilium/templates/clustermesh-apiserver/clusterrole.yaml
cilium/templates/clustermesh-apiserver/clusterrolebinding.yaml
cilium/templates/clustermesh-apiserver/deployment.yaml
cilium/templates/clustermesh-apiserver/metrics-service.yaml
cilium/templates/clustermesh-apiserver/poddisruptionbudget.yaml
cilium/templates/clustermesh-apiserver/service.yaml
cilium/templates/clustermesh-apiserver/serviceaccount.yaml
cilium/templates/clustermesh-apiserver/servicemonitor.yaml
cilium/templates/clustermesh-apiserver/users-configmap.yaml
cilium/templates/clustermesh-apiserver/tls-certmanager/admin-secret.yaml
cilium/templates/clustermesh-apiserver/tls-certmanager/client-secret.yaml
cilium/templates/clustermesh-apiserver/tls-certmanager/local-secret.yaml
cilium/templates/clustermesh-apiserver/tls-certmanager/remote-secret.yaml
cilium/templates/clustermesh-apiserver/tls-certmanager/server-secret.yaml
cilium/templates/clustermesh-apiserver/tls-cronjob/_job-spec.tpl
cilium/templates/clustermesh-apiserver/tls-cronjob/cronjob.yaml
cilium/templates/clustermesh-apiserver/tls-cronjob/job.yaml
cilium/templates/clustermesh-apiserver/tls-cronjob/role.yaml
cilium/templates/clustermesh-apiserver/tls-cronjob/rolebinding.yaml
cilium/templates/clustermesh-apiserver/tls-cronjob/serviceaccount.yaml
cilium/templates/clustermesh-apiserver/tls-helm/admin-secret.yaml
cilium/templates/clustermesh-apiserver/tls-helm/client-secret.yaml
cilium/templates/clustermesh-apiserver/tls-helm/local-secret.yaml
cilium/templates/clustermesh-apiserver/tls-helm/remote-secret.yaml
cilium/templates/clustermesh-apiserver/tls-helm/server-secret.yaml
cilium/templates/clustermesh-apiserver/tls-provided/admin-secret.yaml
cilium/templates/clustermesh-apiserver/tls-provided/client-secret.yaml
cilium/templates/clustermesh-apiserver/tls-provided/remote-secret.yaml
cilium/templates/clustermesh-apiserver/tls-provided/server-secret.yaml
cilium/templates/clustermesh-config/_helpers.tpl
cilium/templates/clustermesh-config/clustermesh-secret.yaml
cilium/templates/clustermesh-config/kvstoremesh-secret.yaml
cilium/templates/hubble/dashboards-configmap.yaml
cilium/templates/hubble/metrics-service.yaml
cilium/templates/hubble/peer-service.yaml
cilium/templates/hubble/servicemonitor.yaml
cilium/templates/hubble/tls-certmanager/metrics-server-secret.yaml
cilium/templates/hubble/tls-certmanager/relay-client-secret.yaml
cilium/templates/hubble/tls-certmanager/relay-server-secret.yaml
cilium/templates/hubble/tls-certmanager/server-secret.yaml
cilium/templates/hubble/tls-certmanager/ui-client-certs.yaml
cilium/templates/hubble/tls-cronjob/_job-spec.tpl
cilium/templates/hubble/tls-cronjob/cronjob.yaml
cilium/templates/hubble/tls-cronjob/job.yaml
cilium/templates/hubble/tls-cronjob/role.yaml
cilium/templates/hubble/tls-cronjob/rolebinding.yaml
cilium/templates/hubble/tls-cronjob/serviceaccount.yaml
cilium/templates/hubble/tls-helm/metrics-server-secret.yaml
cilium/templates/hubble/tls-helm/relay-client-secret.yaml
cilium/templates/hubble/tls-helm/relay-server-secret.yaml
cilium/templates/hubble/tls-helm/server-secret.yaml
cilium/templates/hubble/tls-helm/ui-client-certs.yaml
cilium/templates/hubble/tls-provided/metrics-server-secret.yaml
cilium/templates/hubble/tls-provided/relay-client-secret.yaml
cilium/templates/hubble/tls-provided/relay-server-secret.yaml
cilium/templates/hubble/tls-provided/server-secret.yaml
cilium/templates/hubble/tls-provided/ui-client-certs.yaml
cilium/templates/hubble-relay/configmap.yaml
cilium/templates/hubble-relay/deployment.yaml
cilium/templates/hubble-relay/metrics-service.yaml
cilium/templates/hubble-relay/poddisruptionbudget.yaml
cilium/templates/hubble-relay/service.yaml
cilium/templates/hubble-relay/serviceaccount.yaml
cilium/templates/hubble-relay/servicemonitor.yaml
cilium/templates/hubble-ui/_nginx.tpl
cilium/templates/hubble-ui/clusterrole.yaml
cilium/templates/hubble-ui/clusterrolebinding.yaml
cilium/templates/hubble-ui/configmap.yaml
cilium/templates/hubble-ui/deployment.yaml
cilium/templates/hubble-ui/ingress.yaml
cilium/templates/hubble-ui/poddisruptionbudget.yaml
cilium/templates/hubble-ui/service.yaml
cilium/templates/hubble-ui/serviceaccount.yaml
cilium/templates/spire/bundle-configmap.yaml
cilium/templates/spire/namespace.yaml
cilium/templates/spire/agent/clusterrole.yaml
cilium/templates/spire/agent/clusterrolebinding.yaml
cilium/templates/spire/agent/configmap.yaml
cilium/templates/spire/agent/daemonset.yaml
cilium/templates/spire/agent/serviceaccount.yaml
cilium/templates/spire/server/clusterrole.yaml
cilium/templates/spire/server/clusterrolebinding.yaml
cilium/templates/spire/server/configmap.yaml
cilium/templates/spire/server/role.yaml
cilium/templates/spire/server/rolebinding.yaml
cilium/templates/spire/server/service.yaml
cilium/templates/spire/server/serviceaccount.yaml
cilium/templates/spire/server/statefulset.yaml
